.catsView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.viewer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  min-width: 500px;
  aspect-ratio: 1/1;
  height: 80%;
  border: 1px solid white;
}

.viewer img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: green;
}

.favoriteContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
  width: 90%;
  border: 1px solid white;
  overflow-y: hidden;
  overflow-x: auto;
}

.favoriteCard {
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: 1/1;
}

.favoriteCard img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
