.catsView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left, #062e5f 0%, #a21f24 100%);
}

.viewer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  min-width: 500px;
  aspect-ratio: 1/1;
  height: 80%;
  border: 1px solid white;
  border-radius: 29px;
  box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}

.viewer img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 29px;
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: rgba(0, 128, 0, 0);
  position: fixed;
  top: 501px;
  padding: 0 20px;
}

.btnGroup button {
  transition: all .4s;
  height: 59px;
  width: 66px;
}

.btnGroup button:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #39a2db,
  0 16px 10px -3px #39a2db;
  text-shadow: 0 2px #ffffff
}

.favoriteContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
  width: 90%;
  border: 1px solid white;
 
  border-radius: 29px;
  box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}

.favoriteCard {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
}

.favoriteCard img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition: all .4s;
}

.favoriteCard img:hover {
  border-radius: 5px;
  top: -20px;
  padding: 0;
  box-shadow: 0 7px 0 -2px #f85959,
  0 15px 0 -4px #39a2db,
  0 16px 10px -3px #39a2db;
  width: 70px;
  height: 70px;
  z-index: 999;
  object-fit: unset;
  border-radius: 20px;
  
}
